body {
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100%;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(297.9deg, #323237 15.11%, #000000 90.89%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
