.mission-name {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 23px;
}

.info-name, .info-text {
  display: block;
  font-weight: 500;
}

.info-name {
  font-size: 16px;
  text-transform: uppercase;
  color: #868686;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
}

.info-text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 23px;
}

.left-col {
  text-align: left;
}

.right-col {
  text-align: right;
}

.description {
  display: flex;
  border-bottom: 1px solid #5C5C5D;
  margin-bottom: 36px;
}

.col-2 {
  flex: 50%;
}

.more-info-button {
  width: 160px;
  height: 54px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: 0;
  border: 2px solid #FFFFFF;
  margin: 17px 0 40px 0;
}

.more-info-button:hover {
  background: #FFFFFF;
  color: #000000;
}

.ships span {
  flex: 100%;
  text-align: left;
}

.ships {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site {
  text-transform: uppercase;
}

.site:hover + .info-site-long {
  display: inline-block;
}

.info-site-long {
  display: none;
  background: #FFFFFF;
  color: #000000;
  border-radius: 4px;
  padding: 7px 10px 4px 10px;
  font-size: 14px;
}

.rocket-info {
  display: flex;
  text-align: left;
}

.rocket-info .rocket-name-text {
  width: 90px;
}

.rocket-name-recovered {
  padding: 0;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.rocket-name-recovered-container {
  border-radius: 4px;
  height: 20px;
  width: 77px;
  background: #6FB46E;
  text-align: center;
}

.rocket-name-unrecovered-container {
  border-radius: 4px;
  height: 20px;
  width: 107px;
  background: #BE4E35;
  text-align: center;
}

@media (max-width: 767px) {
  .description {
    flex-direction: column;
  }

  .col-2 {
    flex: 100%;
  }

  .right-col {
    text-align: left;
  }

  .ships {
    justify-content: center;
  }

  .mission-name {
    font-size: 34px;
  }

  .info-name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
  }

  .info-text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 19px;
  }

  .more-info-button {
    /* display: block; */
    width: 100%;
    max-width: 345px;
    margin: 0 auto 27px auto ;
  }
}